[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
flask-caching = "*"
numba = "*"
pip = "*"
dash-table = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"

[requires]
python_version = "3.7"
